.markdown-style h2 {
  font-size: theme('fontSize.lg');
  font-weight: theme('fontWeight.bold');
  color: theme('colors.secondaryText');
}
.markdown-style p {
  margin-bottom: 1rem;
}

.markdown-style li {
  list-style: inside;
}
